<?xml version="1.0" encoding="UTF-8"?>
<configuration jdbcurl="<JDBC_CONNECTION_TO_SCHEMA_TO_ANONYMISE>"
               userid="<USERID>" password="<PASSWORD>">
 
  REPLACE WITH ACTUAL CONFIGURATION FOR TABLES

  <!--
  <table name="users" whiteListEmails="True" >
    <column name="firstname" type="ROMAN_NAME" />
    <column name="nickname" type="ROMAN_NAME" />
    <column name="lastname" type="ELVEN_NAME" />
    <column name="email" type="EMAIL_ADDRESS"/>
    <column name="salt" type="STRING"/>
    <column name="pwdhash" type="STRING"/>
  </table>
  >

</configuration>